<h3>welcome {{uname}}</h3>

<!-- <img src="../assets/images/logo.png" alt="" style="width:150px"> -->

<!-- interpolation -->
<!-- <img src="{{ipath}}" alt="" style="width: 200px;height:auto;"> -->

<h3>Your Information</h3><br>
<table class="info-table">
    <tr>
        <th>Username: </th>
        <td>{{uname}}</td>
    </tr>
    <tr>
        <th>Age: </th>
        <td>{{uage}}</td>
    </tr>
</table>


<!-- <h4>{{student ? 'Student' : 'Not a Student'}}</h4> -->
<br><br>
<!-- Attribute -->

<!-- <p [attr.color]="ucolor">Attribute binding</p> -->

<table border="1" style="width: 100%;">
  <th [attr.colspan]="col">Student Details</th>
<tr>
  <td>Id</td>
  <td>Name</td>
  <td>Age</td>
  <td>Phone</td>
</tr>

</table>
<br><br>

<!-- Property binding -->
<div [innerHTML]="ucolor"></div>
<img [src]="ipath" style="width: 150px;">